$dark-color: #173d5b;
$dark-shade-color: #979797;
$dark-tint-color: #c7c7c7;

$primary-color: #1577c2;
$primary-shade-color: #578a9c;
$primary-tint-color: #bed9df;

$secondary-color: #f8f8f8;
$secondary-shade-color: #c3ccd5;
$secondary-tint-color: #ffffff;

$success-color: #08a63f;
$success-tint-color: #cdedd8;

$danger-color: #d11317;
$danger-tint-color: #fcf1f1;

$warning-color: #F6B12D;
$warning-tint-color: #fdefd5;

$breakpoints-sm: 640px;

$breakpoints-md: 768px;

$breakpoints-lg: 1024px;

$breakpoints-xl: 1280px;

$breakpoints-xxl: 1536px;
