@import "variables";
@import "mixins";
@import "functions";
:host {
  .picker {
    position: relative;
    font-weight: 600;
    background-color: $secondary-tint-color;
    border-radius: 5px;
    border: 1px solid $primary-shade-color;
    &-section {
      cursor: pointer;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      padding: 8px 16px;
      color: $dark-color;
      border-radius: 5px;
      width: 100%;
      z-index: 10;
      i {
        transition: all 0.1s ease-in-out;
      }
      &-title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 8px;
        color: $primary-color;
        @extend .text-xs;
        font-weight: 700;
        > i {
          @extend .text-xs;
        }
      }
      &-text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12px;
        @extend .text-sm;
        font-weight: 400;
        > i {
          color: $primary-color;
        }
      }
    }
    &-drop {
      display: none;
      margin-top: 5px;
      position: absolute;
      width: 100%;
      background-color: $secondary-tint-color;
      z-index: 10;
      border: 1px solid $primary-color;
      @include shadow-md;
      padding: 10px 15px;
      border-radius: 5px;
      &-item {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 8px;
        @extend .text-xs;
        font-weight: 400;
        cursor: pointer;
        > i {
          color: $dark-tint-color;
          @extend .text-xs;
        }
        &:not(:last-child) {
          margin-bottom: 12px;
        }
        &:hover {
          color: $primary-color;
          i {
            color: $primary-color;
          }
        }
      }
      @media only screen and (min-width: $breakpoints-md) {
        display: block;
      }
    }
    &-mobile {
      position: fixed;
      height: 100%;
      width: 100%;
      top: 0;
      z-index: 50;
      [dir="rtl"] & {
        right: 0;
      }
      [dir="ltr"] & {
        left: 0;
      }
      &-data {
        overflow-x: auto;
        height: 100%;
        margin-top: 5px;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        background-color: $secondary-tint-color;
        bottom: 0;
        @include shadow-md;
        &-header {
          width: 100%;
          color: $dark-color;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin-bottom: 20px;
          @extend .text-base;
          font-weight: 700;
          @include shadow-md;
          padding: 20px;
          > i {
            cursor: pointer;
            @extend .text-2xl;
            color: $dark-color;
          }
        }
        &-item {
          position: relative;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 8px;
          @extend .text-base;
          font-weight: 400;
          width: 100%;
          padding-bottom: 10px;
          cursor: pointer;
          > i {
            color: $dark-tint-color;
            @extend .text-lg;
          }
          &:not(:last-child) {
            margin-bottom: 10px;
            border-bottom: 1px solid $primary-shade-color;
          }
          &:hover {
            color: $primary-color;
            i {
              color: $primary-color;
            }
          }
        }
      }
      @media only screen and (min-width: $breakpoints-md) {
        display: none;
      }
    }
    &-open {
      border: 1px solid $primary-color;
      background-color: $primary-tint-color;
      .picker-section i {
        color: $primary-color;
      }
      i:last-child {
        transform: rotate(180deg);
      }
    }
  }
}
