<div class="auth">
  <div class="auth-modal">
    <div class="auth-header">
      <h1>
        <div>{{ "AUTH.DID_YOU_FORGOT_PASSWORD" | translate }}</div>
        <div class="separator"></div>
      </h1>
      <i (click)="close.emit()" class="icon-close_black_24dp"></i>
    </div>
    <div class="auth-body">
      <form [formGroup]="user_form" class="inputs">
        <div class="input-form">
          <div class="title">{{ "INPUT.EMAIL" | translate }}</div>
          <input
            formControlName="email"
            [placeholder]="'INPUT.EMAIL' | translate"
            type="text"
          />
          <i class="icon-email_black_24dp action"></i>
          <div
            class="error-msg"
            *ngIf="
              user_form.controls['email'].touched &&
              user_form.controls['email'].invalid
            "
          >
            {{ "VALIDATION.REQUIRED" | translate }}
          </div>
        </div>
        <div class="inputs-actions">
          <button class="btn btn-primary" type="submit">
            {{ "BUTTON.SEND" | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
