@import "variables";
@import "functions";
@import "mixins";
:host {
  width: 100%;
  .picker {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    width: 100%;
    &-i18n {
      background-color: $secondary-tint-color;
      border-radius: 5px;
      border: 1px solid $dark-tint-color;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 5px;
      width: 33.3333%;
      padding: 12px;
      @extend .text-xs;
      cursor: pointer;
      > i:not(.flag) {
        transition: all 0.1s ease-in-out;
      }
      &.open {
        border: 1px solid $primary-color;
        background-color: $primary-tint-color;
        > i:not(.flag) {
          color: $primary-color;
          transform: rotate(180deg);
        }
      }
    }
    .input-form {
      width: 66.6666%;
      > input {
        padding: 12px;
      }
    }
    &-drop {
      position: absolute;
      display: none;
      background-color: $secondary-tint-color;
      @include shadow-md;
      width: 100%;
      border-radius: 5px;
      padding: 5px 0px;
      margin-top: 47px;
      z-index: 20;
      max-height: 120px;
      top: 0;
      overflow-y: auto;
      &-item {
        cursor: pointer;
        color: $dark-color;
        padding: 8px 14px;
        @extend .text-xs;
        text-transform: uppercase;
        &:hover {
          background-color: $primary-color;
          color: $secondary-tint-color;
        }
        &:not(:last-child) {
          margin-bottom: 6px;
        }
      }
      @media only screen and (min-width: $breakpoints-md) {
        display: block;
      }
    }
  }
}
