.dark-color {
  color: $dark-color;
}

.dark-shade-color {
  color: $dark-shade-color;
}

.dark-tint-color {
  color: $dark-tint-color;
}

.primary-color {
  color: $primary-color;
}

.primary-tint-color {
  color: $primary-tint-color;
}

.primary-shade-color {
  color: $primary-shade-color;
}

.secondary-color {
  color: $secondary-color;
}

.secondary-shade-color {
  color: $secondary-shade-color;
}

.secondary-tint-color {
  color: $secondary-tint-color;
}

.success-color {
  color: $success-color;
}

.success-tint-color {
  color: $success-tint-color;
}

.warning-color {
  color: $warning-color;
}

.warning-tint-color {
  color: $warning-tint-color;
}

.danger-color {
  color: $danger-color;
}

.danger-tint-color {
  color: $danger-tint-color;
}


.bg-dark-color {
  background-color: $dark-color;
}

.bg-dark-shade-color {
  background-color: $dark-shade-color;
}

.bg-dark-tint-color {
  background-color: $dark-tint-color;
}

.bg-primary-color {
  background-color: $primary-color;
}

.bg-primary-tint-color {
  background-color: $primary-tint-color;
}

.bg-primary-shade-color {
  background-color: $primary-shade-color;
}

.bg-secondary-color {
  background-color: $secondary-color;
}

.bg-secondary-shade-color {
  background-color: $secondary-shade-color;
}

.bg-secondary-tint-color {
  background-color: $secondary-tint-color;
}

.bg-success-color {
  background-color: $success-color;
}

.bg-success-tint-color {
  background-color: $success-tint-color;
}

.bg-warning-color {
  background-color: $warning-color;
}

.bg-warning-tint-color {
  background-color: $warning-tint-color;
}

.bg-danger-color {
  background-color: $danger-color;
}

.bg-danger-tint-color {
  background-color: $danger-tint-color;
}
