<div class="auth">
  <div class="auth-modal">
    <div class="auth-header">
      <h1>
        <div>{{ "AUTH.RESET_NEW_PASSWORD" | translate }}</div>
        <div class="separator"></div>
      </h1>
      <i (click)="close.emit()" class="icon-close_black_24dp"></i>
    </div>
    <div class="auth-body">
      <form [formGroup]="user_form" class="inputs">
        <div
          class="input-form"
          [ngClass]="{
            error:
              user_form.controls['password'].touched &&
              user_form.controls['password'].invalid
          }"
        >
          <div class="title">{{ "INPUT.NEW_PASSWORD" | translate }}</div>
          <input
            class="password"
            formControlName="password"
            [placeholder]="'INPUT.NEW_PASSWORD' | translate"
            [type]="isPasswordVisible ? 'text' : 'password'"
          />
          <i class="icon-lock_black_24dp action"></i>
          <i
            (click)="togglePasswordVisibility()"
            *ngIf="!isPasswordVisible"
            class="icon-visibility_off_black_24dp visibility"
          ></i>
          <i
            (click)="togglePasswordVisibility()"
            *ngIf="isPasswordVisible"
            class="icon-visibility_black_24dp visibility"
          ></i>
          <div
            class="error-msg"
            *ngIf="
              user_form.controls['password'].touched &&
              user_form.controls['password'].invalid
            "
          >
            {{ "VALIDATION.REQUIRED" | translate }}
          </div>
        </div>
        <div
          [ngClass]="{
            error:
              user_form.controls['confirmPassword'].touched &&
              user_form.controls['confirmPassword'].invalid
          }"
          class="input-form"
        >
          <div class="title">
            {{ "INPUT.CONFIRM_NEW_PASSWORD" | translate }}
          </div>
          <input
            class="password"
            formControlName="confirmPassword"
            [placeholder]="'INPUT.CONFIRM_NEW_PASSWORD' | translate"
            [type]="isPasswordVisible ? 'text' : 'password'"
          />
          <i class="icon-lock_black_24dp action"></i>
          <i
            (click)="togglePasswordVisibility()"
            *ngIf="!isPasswordVisible"
            class="icon-visibility_off_black_24dp visibility"
          ></i>
          <i
            (click)="togglePasswordVisibility()"
            *ngIf="isPasswordVisible"
            class="icon-visibility_black_24dp visibility"
          ></i>
          <div
            class="error-msg"
            *ngIf="
              user_form.controls['confirmPassword'].touched &&
              user_form.controls['confirmPassword'].invalid
            "
          >
            {{ "VALIDATION.REQUIRED" | translate }}
          </div>
        </div>
        <div class="inputs-actions">
          <button class="btn btn-primary" type="submit">
            {{ "BUTTON.SAVE" | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
